<?xml version="1.0"?>
<robot name="argus_leg" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find argus_leg_description)/urdf/argus_leg.xacro" />
  <xacro:include filename="$(find argus_leg_description)/urdf/argus_leg.ros2_control.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <link name="world"/>

  <xacro:argus_leg parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:argus_leg>

  <xacro:sensor_d435 parent="joint2_horn_link" use_nominal_extrinsics="true" add_plug="false">
    <origin xyz="-0.0125 -0.019 0.065" rpy="0 -1.5708 3.1416"/>
  </xacro:sensor_d435>

  <xacro:argus_leg_ros2_control name="argus_leg_ros2_control" />
</robot>
